
Create database HANGRONG
go

Use HANGRONG
go

Create table Users (
	username varchar(200) primary key,
	password varchar(200),
	role varchar(30)
)
Create table Categories (
	id varchar(10) primary key,
	name nvarchar(500),
	image varchar(500)
)
Create table Customers (
	id int identity primary key,
	email varchar(200) unique,
	name nvarchar(200),
	gender nvarchar(5),
	phone varchar(15),
	address nvarchar(500),
	date_of_birth datetime,
	avatar varchar(500)
)
Create table Shop (
	id int identity primary key,
	email varchar(200) unique,
	name nvarchar(200),
	join_date datetime,
	avatar varchar(500),
	level nvarchar(500),
)
Create table Products (
	id int identity primary key,
	name nvarchar(500),
	price numeric(9,0),
	image varchar(2000),
	intro nvarchar(4000),
	detail nvarchar(4000),
	status bit,
	rate decimal(5,1),
	discount decimal(2,1),
	sale_date datetime,
	category_id varchar(10) foreign key references Categories (id),
	shop_id int foreign key references Shop (id)  
)
Create table Rate (
	id int identity primary key,
	rate tinyint,
	product_id int foreign key references Products (id),
	customer_id int foreign key references Customers(id)
)
Create table Comments (
	id int identity primary key,
	title nvarchar(1000),
	comment nvarchar(4000),
	product_id int foreign key references Products (id)
)

Create table Orders (
	id int identity primary key,
	customer_id int foreign key references Customers(id),
	order_date datetime,
	order_address nvarchar(500),
	status nvarchar(200)
)
Create table Order_Detail (
	id int identity primary key,
	order_id int foreign key references Orders (id),
	product_id int foreign key references Products (id),
	quantity int
)

Insert into Users 
Values ('longoc96','96917f9f2174fdb810fc091653116a79705a32c9','Admin')
Insert into Users 
Values ('hauvt98','8cb2237d0679ca88db6464eac60da96345513964','Admin')
Insert into Users 
Values ('ngoclhph05136@fpt.edu.vn','8cb2237d0679ca88db6464eac60da96345513964','Shop')


Insert into Shop
Values ('ngoclhph05136@fpt.edu.vn','Mr Ngoc Shop','2015-10-20','https://f4.bcbits.com/img/0003616747_10.jpg',N'Shop VIP')
Insert into Shop
Values ('hauvtph04977@fpt.edu.vn','Halogen Shop','2016-08-25','https://cmkt-image-prd.global.ssl.fastly.net/0.1.0/ps/1614802/300/200/m1/fpnw/wm0/halogen-shop-logo-3-.jpg?1472752842&s=2091d31342cf5ab6f5af2594bccd4e2a',N'Shop PRO')
Insert into Shop
Values ('thend@fpt.edu.vn','Hebrew Shop','2013-5-25','https://i.pinimg.com/736x/85/94/55/8594553d7d7e514ac4771ee9ff53345b--drink-coffee-coffee-cafe.jpg',N'Shop PRO')


Insert into Customers
Values ('duythe98@gmail.com',N'Nguyễn Duy Thế',N'Nam','01658220250',N'Thái Bình','1998-05-12','');
Insert into Customers
Values ('doanhuy93@gmail.com',N'Đoàn Quốc Huy',N'Nam','01647882510',N'Hải Phòng','1993-03-20','');

Insert into Categories
Values ('TBDT',N'Thiết bị điện tử','')
Insert into Categories
Values ('DGDS',N'Đa dụng,Đời sống','')
Insert into Categories
Values ('TT',N'Thời trang','')





